{include file="comm/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <input class="layui-input" name="key" placeholder="请输入关键字" autocomplete="off">
                    </div>
                    <div class="layui-inline">
                        <button class="layui-btn icon-btn layui-btn-sm" lay-filter="searchUser" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <cite id="buyer_id" hidden>当前用户编号：{:session('user_id')}</cite>
<!--                        <button id="addGoods" class="layui-btn icon-btn layui-btn-sm">-->
<!--                            <i class="layui-icon layui-icon-add-1"></i>增加商品-->
<!--                        </button>-->
                    </div>
                </div>
            </div>

            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<script type="text/html" id="barGoods">
    <a id="buyGoods" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="buy"> <i class="layui-icon">&#xe657;</i>购买</a>
<!--    <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>-->
<!--    <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>-->
</script>
{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        // 渲染表格
        var insTb = table.render({
            elem: '#table',
            url: '{:url("index")}',
            even: true,
            page: true,//开启分页
            cols: [[
                // {type: 'checkbox'}
                {type: 'numbers', title: '序号'}
                // , {field: 'goods_id', title: '序号', align: 'center'}
                , {field: 'goods_name', title: '商品名称', align: 'center'}
                , {field: 'type_name', title: '商品类型', align: 'center'}
                , {field: 'price', title: '单价/元', align: 'center'}
                , {field: 'number', title: '商品数量', align: 'center'}
                , {field: 'user_id', title: '商家', align: 'center', hide: true}
                // , {field: 'real_name', title: '姓名', align: 'center', hide:true}
                // , {field: 'phone', title: '电话', align: 'center', hide:true}
                // , {field: 'adress', title: '收货地址', align: 'center', hide:true}

                , {title: '操作', align: 'center', toolbar: '#barGoods'}
            ]]
        });

        // 搜索
        form.on('submit(searchUser)', function (data) {
            // var search = $("#search").val();
            insTb.reload({where: data.field}, 'data');

        });

        /* 表格工具条点击事件 */
        table.on('tool(table)', function (obj) {
            if (obj.event === 'buy'){
                doBuy(obj.data);
            }

        });

        function doBuy(data) {
            //alert(data.user_id);
            // console.dir(data);
            // var buyer_id = $("#buyer_id").val();
            // alert(data.buyer_id);
            var layBuy = admin.open({
                title: "填写订单信息"
                , moveOut: true
                , url: "{:url('buyGoods')}"
                , data: {data: data}
                , end: function () {
                    if (admin.getLayerData(layBuy, 'formOk')) {  // 判断表单操作成功标识
                        insTb.reload();  // 成功刷新表格
                    }
                }
                , success: function (layero, dIndex) {
                    // 弹窗超出范围不出现滚动条
                    $(layero).children('.layui-layer-content').css('overflow', 'visible');
                }

            });
        }

    });
</script>