<form id="form" lay-filter="form" class="layui-form model-form" lay-filter="test">
    <input name="goods_id" type="hidden"/>
    <input name="user_id" type="hidden"/>
    <input id="order_number" name="order_number" type="hidden" value="order_id"/>
    <input id="user_id" name="buyer_id" value="{:session('user_id')}" hidden>
    <div class="layui-form-item">
        <label class="layui-form-label" placeholder="">商品名称</label>
        <div class="layui-input-block">
            <input name="goods_name" autocomplete="off" class="layui-input layui-disabled" placeholder="" lay-verType="tips" readonly/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label">单价/元</label>
        <div class="layui-input-block">
            <input id="price" name="price" autocomplete="off" class="layui-input layui-disabled" placeholder="" lay-verType="tips" readonly/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">剩余库存</label>
        <div class="layui-input-block">
            <input id="rest_number" name="number" autocomplete="off" class="layui-input layui-disabled" placeholder="" lay-verType="tips" readonly/>
        </div>
    </div>


    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">购买数量</label>
        <div class="layui-input-block">
            <input id="buy_number" name="buy_number" value="" autocomplete="off" class="layui-input" placeholder="" lay-verType="tips" lay-verify="required"
                   required/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label ">需支付/元</label>
        <div class="layui-input-block">
            <input id="pay" name="pay" autocomplete="off" class="layui-input layui-disabled" placeholder="" lay-verType="tips" readonly/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required" >收货人</label>
        <div class="layui-input-block">
            <input id="name" name="consignee_name" autocomplete="off" class="layui-input" value="" placeholder="" lay-verType="tips" lay-verify="required"
                   required/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">联系电话</label>
        <div class="layui-input-block">
            <input id="phone1" name="phone" autocomplete="off" class="layui-input" value="" placeholder="" lay-verType="tips" lay-verify="required"
                   required/>
        </div>
    </div>

    <div class="layui-form-item">
        <label class="layui-form-label layui-form-required">收货地址</label>
        <div class="layui-input-block">
            <input id="address1" name="address" autocomplete="off" class="layui-input" value="" placeholder="" lay-verType="tips" lay-verify="required"
                   required/>
        </div>
    </div>

    <div class="layui-form-item text-right">
        <button class="layui-btn layui-btn-primary" type="button" ew-event="closePageDialog">取消</button>
        <button class="layui-btn" lay-filter="buy" lay-submit>下单</button>
    </div>
</form>

<script>
    layui.use(['layer', 'form', 'admin', 'laydate'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var admin = layui.admin;

        var data = admin.getLayerData('#form').data;  // 列表页面传递的数据

        // var  laydate = layui.laydate;
        // laydate.render({
        //     elem: '#date1'
        //     ,value: orderId,
        // });

        //获取个人收获地址信息
        $.get("{:url('userInfo')}?user_id="+$("#user_id").val(), function (res) {
            $("#name").val(res[0].real_name);
            $("#phone1").val(res[0].phone);
            $("#address1").val(res[0].address);
        });

        // 回显数据
        // console.dir(data);
        // alert(data.field);
        form.val('form', data);
        // 表单提交事件
        form.on('submit(buy)', function (data) {
            layer.load(2);  //加载图标
            // console.log("1");

            $.post("{:url('buyGoods')}", data.field, function (res) {
                layer.closeAll('loading');
                // console.log("2");
                if (res.code == 1) {
                    layer.msg(res.msg, {icon: 1});  //✔添加成功
                    admin.putLayerData('formOk', true, '#form');  // 设置操作成功的标识
                    admin.closeDialog('#form');  // 关闭页面层弹窗
                } else {
                    layer.msg(res.msg, {icon: 2});
                }
            }, 'json');
            return false;
        });

        // 输入购买数量后，失焦计算总金额
        $("#buy_number").blur(function(){
            //alert("购买数量失焦！计算总金额");

            var buy_number = parseInt($("#buy_number").val());
            var rest_number = parseInt($("#rest_number").val());
            var price = $("#price").val();
            var pay = price * buy_number;
            $("#pay").val(pay);

            if(buy_number > rest_number){
                layer.msg('购买数量不能超过库存', {
                    icon: 0,
                    time: 2000 //2秒关闭（如果不配置，默认是3秒）
                }, function(){
                    $("#buy_number").val('1');
                    $("#pay").val(price);
                });
            } else {
                $("#pay").val(pay);
            }

            //自定义订单编号生成规则   由YYYYMMDD(年月日) + 时间戳的格式组成
            let currDate = new Date();
            let year = currDate.getFullYear();
            let month = currDate.getMonth() + 1 < 10 ? "0" + (currDate.getMonth() + 1): currDate.getMonth() + 1;
            let day = currDate.getDate()<10 ? "0"+currDate.getDate() : currDate.getDate();

            //获取年月日
            let date = year + month + day; //20190524

            //获取当时时间戳
            let timestamp = Date.parse(currDate); //155866554500

            //生成订单
            let id = date + timestamp; //20190524155866554500
            // alert(orderId);
            $("#order_number").val(id);
        });

    });
</script>