{include file="comm/header"}
<!-- 正文开始 -->
<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-card-body table-tool-mini full-table">
            <div class="layui-form toolbar">
                <div class="layui-form-item">
                    <!-- <div class="layui-inline"
                        style="display: inline-block;margin-bottom: 0;vertical-align: middle;margin-bottom: 10px;width: 8%">
                        <select name="option" class="form-control input-md">
                            <option value="course_name" selected="selected">课程名称</option>
                            <option value="semester_name">学期</option>
                        </select>
                    </div> -->
                    <div class="layui-inline">
                        <input id="key" class="layui-input" name="key" placeholder="请输入课程名/学期" autocomplete="off">
                        <input id="student_id" name='student_id' value="{:session('user_id')}" hidden>
                    </div>
                    <div class="layui-inline">
                        <button id="search" class="layui-btn icon-btn layui-btn-sm" lay-filter="searchUser" lay-submit>
                            <i class="layui-icon">&#xe615;</i>搜索
                        </button>
                        <!-- <cite id="student_id" hidden>当前用户编号：{:session('user_id')}</cite> -->
                        <!--                        <button id="addCourse" class="layui-btn icon-btn layui-btn-sm">-->
                        <!--                            <i class="layui-icon layui-icon-add-1"></i>增加课程-->
                        <!--                        </button>-->
                    </div>
                </div>
            </div>

            <table id="table" lay-filter="table"></table>
        </div>
    </div>
</div>
<!-- <script type="text/html" id="barCourse"> -->

<!-- {{#  if(d.course_id == 20){ }} -->
<!-- <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="select">选课</a> -->
<!-- {{#  } else { }} -->
<!-- <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="">退选</a>
{{#  } }} -->
<!-- </script> -->
<script type="text/html" id="status">
  {{#  if(d.status === '未开班'){ }}
    <span style="color: #ff0000;">{{ d.status }}</span>
  {{#  } else { }}
    <span style="color: #00a65a;">{{ d.status }}</span>
  {{#  } }}
</script>
<script type="text/html" id="barCourse">
    <a id="selectCourse" class="layui-btn layui-btn-danger layui-btn-xs" lay-event="select">选课</a>
      <!-- <a class="layui-btn layui-btn-primary layui-btn-xs" lay-event="edit">修改</a>
       <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a> -->
</script>
{include file="comm/footer"}
<script>
    layui.use(['layer', 'form', 'table', 'util', 'admin'], function () {
        var $ = layui.jquery;
        var layer = layui.layer;
        var form = layui.form;
        var table = layui.table;
        var util = layui.util;
        var admin = layui.admin;

        // 渲染表格
        var insTb = table.render({
            elem: '#table',
            url: '{:url("index")}',
            // even: true,
            page: true,//开启分页
            cols: [[
                // {type: 'checkbox'}
                { type: 'numbers', title: '序号' }
                // , {field: 'add', title: '判断是否选课', align: 'center'} 
                , { field: 'course_id', title: '序号', align: 'center', hide: true }
                , { field: 'course_name', title: '课程名称', width: '18%' }
                // , {field: 'describe', title: '描述', align: 'center'}
                , { field: 'semester_name', title: '学期', align: 'center', width: '15%' }
                , { field: 'address', title: '上课地点', align: 'center' }
                // , {field: 'time', title: '时间', align: 'center', width: '9%'}
                , { field: 'credit', title: '学分', align: 'center', width: '6%' }
                , { field: 'quantity', title: '容量', align: 'center', width: '8%' }
                , { field: 'selected_number', title: '已选', align: 'center', width: '6%' }
                , { field: 'rest_number', title: '可选', align: 'center', width: '8%' }
                , { field: 'status', title: '开班状态', align: 'center', sort: true, templet: '#status' }
                , { field: 'select_status', title: '选课状态', align: 'center', hide: true }
                , { field: 'real_name', title: '任课教师', align: 'center' }
                , { field: 'user_id', title: '任课教师', align: 'center', hide: true }
                // , {field: 'real_name', title: '姓名', align: 'center', hide:true}
                // , {field: 'phone', title: '电话', align: 'center', hide:true}
                // , {field: 'adress', title: '家庭地址', align: 'center', hide:true}

                , { title: '操作', align: 'center', toolbar: '#barCourse' }
            ]]
        });

        //监控键盘Enter 回车键按下的动作
        $("#key").each(function () {
            this.onkeydown = function (e) { // 回车提交表单
                let theEvent = window.event || e;
                let code = theEvent.keyCode || theEvent.which;
                if (code == 13) {
                    $("#search").click(); //这里写你回车按下后你想触发的那个按钮的id是多少
                }
            }
        })

        // 搜索
        form.on('submit(searchUser)', function (data) {
            // var search = $("#search").val();
            insTb.reload({ where: data.field }, 'data');

        });

        /* 表格工具条点击事件 */
        table.on('tool(table)', function (obj) {
            if (obj.event === 'select') {
                doSelect(obj.data);
            }

        });

        // course/index.html
        function doSelect(data) {
            $student_id = $("#student_id").val();
            if (data.status == '未开班') {
                layer.msg('该课程暂未开班');
                return;
            }

            layer.confirm('确认选择《' + data.course_name + '》课程吗？', { icon: 3, title: '提示' }, function (index) {
                $.ajax({
                    url: "{:url('change_quantity')}?student_id=" + $student_id,
                    data: data,
                    dataType: 'json',
                    type: 'get',
                    success: function (res) {
                        layer.msg(res.msg, { icon: 1 });
                        insTb.reload();  // 成功刷新表格
                        
                    }
                });
                layer.close(index);
            });
        }
    });
</script>